# dependencies
node_modules/
**/node_modules/

# builds
dist/
.next/
out/
*.tsbuildinfo

# env
.env
.env.local
**/.env
!**/.env.example

# databases / local data
*.pglite/
.pglite/
**/.pglite/
*.sqlite

# logs & misc
*.log
npm-debug.log*
.DS_Store
coverage/
